@{
    ViewData["Title"] = "Confirmación de pago";
}

<h2>Pago realizado con éxito</h2>
<p>Gracias por tu compra. Tu pago ha sido procesado exitosamente.</p>

<a href="@Url.Action("Index", "Accesorios")" class="btn btn-primary mt-4">Volver a la tienda</a>
