@{
    ViewData["Title"] = "Gracias por su compra";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h3 class="text-success">Gracias por su compra</h3>
            <p>En unos minutos nos pondremos en contacto con usted para coordinar el envío.</p>
        </div>
    </div>
</div>
